.venv
.react-router/
node_modules
.vscode/
tempCodeRunnerFile.js

/.cache
/build
.env


.DS_store

/build
/public/build
/server-build

/prisma/dev.db
/prisma/dev.db-journal

photos.db

.specstory/
.local/
.cursor/
/prisma/generated
/public

environment.json

data/misc_scripts/
data/osxphotos_output/

# Temporary files
_temp*
app/routes/test*

# Cleanup
.zed/settings.json
app/components/magnifier.1.svg
app/utils/simple-image-converter.server.ts
data/counts.py
data/photolibrary.schema.sql
data/search.psi.schema.sql
