@import 'tailwindcss/preflight' layer(utilities);
@import 'tailwindcss/utilities' layer(utilities);

html,
body {
/* @apply bg-white dark:bg-gray-950; */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

* {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}