@import 'tailwindcss';

/* @layer components {
  .input {
    width: var(--w-full);
    color: var(--text-neutral-300);
    background-color: var(--bg-black/10);
    border-radius: var(--radius-md);
    border-width: var(--border-default);
    border-color: var(--border-neutral-100/50);
    padding: var(--spacing-6);
    transition: var(--transition-all);
    &:focus {
      background-color: var(--bg-black/25);
      border-color: var(--border-neutral-200/85);
      outline: none;
    }
  }
} */

.group:has(.glass) {
	header {
		opacity: 1;
	}
	.btn-back {
		opacity: 0;
	}
}

main:has(div.glass:focus-within) {
	background-color: #0004;
	.glass {
		filter: brightness(1.3) saturate(1.2);
		input,
		button {
		}
	}
}

/**
 * MARK:glass
 */

.glass {
	backdrop-filter: blur(30px) hue-rotate(2deg) brightness(1.2);
	background-color: #ffffff1a;
	border: 0.5px solid rgba(255, 255, 255, 0.2);
	box-shadow:
		0 0px 2px rgba(0, 0, 0, 0.1),
		inset 0 0.5px 0 rgba(255, 255, 255, 0.15),
		inset 0 -0.5px 0 rgba(255, 255, 255, 0.15);
	position: relative;
	padding: 2px;
}

.border-linear-reverse {
	background: linear-gradient(to bottom right, #11171b20, #a39c9e20);
}

/* modal _ _ _ _ _ _ _ _ _ ___  */

/* .modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
} */

.buzzard {
	width: 4rem;
	bottom: 0;
	position: absolute;
	right: 0rem;
	mix-blend-mode: luminosity;
	opacity: 0.5;
	filter: drop-shadow(0px 0px 13px black) grayscale(0.5) hue-rotate(202deg);
	z-index: 1;
}

footer a {
	display: none;
}
